*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}


.navbar{
    grid-area: navbar;
    background-color: grey;
}
/* ------------------------------------------------------------------------ */
/* INICIO NAV */

.navbar{
    grid-area: navbar;
    background-color: grey;
    position:fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-lista{
    display: flex;
    margin-right: 2rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    margin: 10px;
    color: black;
}

li:hover{
      transform: translateY(8px);
      transition: transform 0.3s ease-out;
}

a:hover{
      color: white;
}

/* FIN NAV */

/* ------------------------------------------------------------------------- */

/* INICIO SOBRE MI */
.section2{
    grid-area: section2;
    background-color:darkkhaki;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-sobremi{
    width: 500px;
    margin-top: 50px;
}

.div-sobremi-h2{
    margin-bottom: 20px;
}

.div-sobremi-img{
   border-radius: 100%;
   width: 300px;
   height: 300px;
   border: solid 1px black;
   box-shadow:10px 10px 15px black;
   
}

.div-sobremi-p{
    margin-top: 30px; 
}
/* FIN SOBRE MI */
/* -------------------------------------------------------------------- */
.section3{
    grid-area: section3;
    background-color:darkkhaki;
}

.section4{
    grid-area: section4;
    background-color:darkkhaki;
}

.section5{
    grid-area: section5;
    background-color:darkkhaki;
}

.footer{
    grid-area: footer;
    background-color:cornsilk;
}

.grid-container{
    display: grid;
    gap: 12px;
    grid-template:
        "navbar     navbar   navbar"    40px
        "section2   section2 section2"  620px
        "section3   section3 section3"  850px
        "section4   section4 section4"  850px
        "section5   section5 section5"  300px  
        "footer     footer   footer "   50px/
        300px auto 700px ;
}