*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    text-align: center;
}



/* ------------------------------------------------------------------------ */
/* INICIO NAV */

.navbar{
    grid-area: navbar;
    background-color: grey;
    position:fixed;
    width: 100%;
    height: 39px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

.nav-lista{
    display: flex;
    margin-right: 2rem;
    list-style: none;
    text-shadow: white 3px 1px 3px;
    margin-top: 7px;
}

.nav-li-a{
    text-decoration: none;
    margin: 10px;
    color: black;
}

.nav-li:hover{
      transform: translateY(8px);
      transition: transform 0.3s ease-out;
}

.nav-li-a:hover{
      color: white;
      text-shadow: black 3px 3px 2px;
}

/* FIN NAV */

/* ------------------------------------------------------------------------- */

/* INICIO SOBRE MI */
.section2{
    grid-area: section2;
    background-color:darkkhaki;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-sobremi{
    width: 500px;
    margin-top: 50px;
}

.div-sobremi-h2{
    margin-bottom: 20px;
}

.div-sobremi-img{
   border-radius: 100%;
   width: 300px;
   height: 300px;
   border: solid 1px black;
   box-shadow:10px 10px 15px black;
   
}

.div-sobremi-p{
    margin-top: 30px; 
}
/* FIN SOBRE MI */
/* -------------------------------------------------------------------- */
/* INICIO ESTUDIOS */

.section3{
    grid-area: section3;
    background-color: darkkhaki;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-estudios-h2{
    color: white;
    margin: 80px 0 60px 0;
    text-shadow: gray 3px 3px 2px;
}
.div-lenguajes-h2{
    color: white;
    margin: 150px 0 60px 0;
    text-shadow: gray 3px 3px 2px;
}
.div-estudios-p{
    color: white;
    margin:20px;
}
.div-estudios-p-utn{
    margin-top: 50px;
    color: white;
}
.div-estudios-ul{
    list-style: none;
    color: white;
    
}
.div-estudios-li{
    margin-top: 20px;
}

/* FIN ESTUDIOS */
/* ----------------------------------------------------------------- */
/* INICIO PROYECTOS */
.section4{
    grid-area: section4;
    background-color:darkkhaki;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-conteiner{
    background-color: white;
    width: 1300px;
    height: 1200px;
    display: flex;
    justify-content:space-evenly;
    border-radius: 5%;
    
}
.proyecto-h2{
    color : black;
    position: absolute;
    margin-top: 90px;
    text-shadow: gray 3px 3px 2px;
    
}
.Caja1, .Caja2, .Caja3{
    margin:auto ;
    width: 400px;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    border: solid black;
    box-shadow: 10px 12px 8px gray;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(Formulario.png);
}

.proyectos-p{
    font-size: 2rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    display: inline;
}

.Caja2{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(Tributo.png);
}
.Caja3{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(Universidad.png);
    
}

.section5{
    grid-area: section5;
    background-color:darkkhaki;
}

.footer{
    grid-area: footer;
    background-color:cornsilk;
}

.grid-container{
    display: grid;
    gap: 12px;
    grid-template:
        "navbar     navbar   navbar"    40px
        "section2   section2 section2"  620px
        "section3   section3 section3"  850px
        "section4   section4 section4"  850px
        "section5   section5 section5"  300px  
        "footer     footer   footer "   50px/
        300px auto 700px ;
}